@font-face {
    font-family: gothamlight;
    src: url("Gotham-Light.otf") format("opentype");
}
*{
    font-family: gothamlight;
}

body, html {
    height: 100%;
    margin: 0;
    letter-spacing: 6px;
}

/* portada teléfono */
.portada{
    /* The image used */
    background-image: url("portada_movil.png");

    /* Full height */
    height: 100%; 
    max-width: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* menu transparente */
.navbar{
    background-color: transparent;
}

/* ji studio con linea */
h6{
    position: relative;
    margin-left: 5.22vw;
    padding-top: 46px;
    color: #C09349;
    line-height: 24px;
} 
h6 span {
    background-color: white;
    padding-right: 10px;
}
h6:after {
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 11vw;
    height: 0.5em;
    border-top: 1px solid #6D6E71;
    z-index: -1;
}


/* contenedor de datos x3 */
.datos{
    letter-spacing: 5px;
    padding-left: 5.22vw;
    font-size: 15px;
    padding-bottom: 33px;
}

.datos:nth-child(1){
    padding-top: 74px;
}


/* solo la direccion */
.direccion{
    letter-spacing: 3px;
    font-size: 13px;
    padding-top: 22px;
    line-height: 25px;
}

/* datos de email y numeros */
.contactos{
    padding-top: 25px;
    line-height: 27px;
}

/* Formulario */
.formulario{
    padding-left: 5.22vw;
}
/* EDICION DEL FORMULARIO */
input[type=text]{
    width: 89%;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid gray;
    margin-bottom:2rem; 
    font-size: 1rem;
}
/* BOTON DE FORMULARIO */
input[type=submit]{
    align-items: center;
    align-content: center;
    margin-top: 0rem;
    font-size: 1rem;
    margin-left: 36%;
    border: 1px solid;
    border-color:#C09349;
    background: transparent;
    cursor: pointer;  
    margin-bottom: 58px;
}

.footer-movil{
    color: white;
    font-size: 12px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: url("footer-movil.png");
    height: 259px; 
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.diamante{   
    width: 25px;
    height: 25px;
    background: transparent;
    transform: rotate(45deg);
    align-content: center;
    align-items: center;
    justify-content: center;
    border: 2px solid;
    border-color: #C09349;
    margin-top: 59px;
    display: flex;       
}

a{
    color: white;
}

.letra{
   
    transform: rotate(-45deg);
}




.responsive {
    max-width: 100%;
    height: 100%;
}